In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier

In [2]:
df=pd.read_csv('data/df_cleaned.csv')

C:\Users\Natalia Gonzalez\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (99) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,sofifa_id,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,...,rb,gk,año_version,progresion_anual,overall_team/year,teams_in_league/year,mean_league/year,mean_team/year,ranking,puntos
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,delantero,93,95,100500000.0,550000.0,27,1987-06-24,...,54,15,2015,0.010753,1917.0,20.0,71.357143,79.875000,13,1833
1,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,centrocampista,92,92,79000000.0,375000.0,29,1985-02-05,...,57,16,2015,0.010870,2418.0,20.0,71.357143,75.562500,4,1980
2,9014,A. Robben,Arjen Robben,centrocampista,90,90,54500000.0,275000.0,30,1984-01-23,...,55,14,2015,0.000000,2061.0,18.0,71.280514,79.269231,1,2089
3,41236,Z. Ibrahimović,Zlatan Ibrahimović,delantero,90,90,52500000.0,275000.0,32,1981-10-03,...,56,17,2015,-0.011111,1730.0,20.0,69.209644,78.636364,8,1907
4,167495,M. Neuer,Manuel Peter Neuer,portero,90,90,63500000.0,300000.0,28,1986-03-27,...,36,87,2015,0.000000,2061.0,18.0,71.280514,79.269231,1,2089

In [6]:
df['gk'] =df['gk'].replace("+","")

In [7]:
df['gk'] = df['gk'].str.replace(r'\+', '', regex=True)

In [8]:
df.gk.fillna(0,inplace=True)

In [10]:
df['gk']=df.gk.astype(int)

In [11]:
df['gk'].unique()

array([15, 16, 14, 17, 87, 34, 13, 18, 85, 83,  8, 84, 12, 82,  9, 11, 80,
       81, 20,  6,  7, 79, 35, 10, 78, 77,  5, 76, 75, 25, 74, 73, 72, 27,
       33, 71, 70, 69, 68, 67, 66, 65, 39, 64, 63, 62, 61, 60, 59,  4, 58,
       57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 43, 19, 37, 21, 38,
       23, 22, 29, 31, 28, 32, 44, 89, 86, 45, 90, 88, 24,  0])

In [12]:
df=df[df['player_positions']=='defensa']

In [13]:
pd.set_option('display.max_columns', None)
print(df.columns.tolist())

['sofifa_id', 'short_name', 'long_name', 'player_positions', 'overall', 'potential', 'value_eur', 'wage_eur', 'age', 'dob', 'height_cm', 'weight_kg', 'club_team_id', 'club_name', 'league_name', 'league_level', 'club_position', 'club_jersey_number', 'club_joined', 'club_contract_valid_until', 'nationality_id', 'nationality_name', 'nation_team_id', 'nation_position', 'preferred_foot', 'weak_foot', 'skill_moves', 'international_reputation', 'work_rate', 'body_type', 'real_face', 'player_traits', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'attacking_crossing', 'attacking_finishing', 'attacking_heading_accuracy', 'attacking_short_passing', 'attacking_volleys', 'skill_dribbling', 'skill_curve', 'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed', 'movement_agility', 'movement_reactions', 'movement_balance', 'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots', 'mentality_aggression', 'mentality_interceptions', 'mentality_positioning', 'mentality_vision', 'mentality_penalties', 'mentality_composure', 'defending_marking_awareness', 'defending_standing_tackle', 'defending_sliding_tackle', 'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking', 'goalkeeping_positioning', 'goalkeeping_reflexes', 'goalkeeping_speed', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb', 'gk', 'año_version', 'progresion_anual', 'overall_team/year', 'teams_in_league/year', 'mean_league/year', 'mean_team/year', 'ranking', 'puntos']

In [17]:
model = RandomForestClassifier()