In [1]:
import pickle
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#importación dataset
df22=pd.read_csv('../data/players_22.csv')

C:\Users\carlo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (25,108) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Limpieza datos

In [3]:
#eliminamos columnas de url que no aportan información
df22 = df22[df22.columns.drop(df22.filter(regex='url').columns)]

In [4]:
#funcion transformación en lista
def lista_posicion(x):
    return (x.replace(' ','').split(','))

In [5]:
#transforma valores de columna player_positions en una lista
df22['player_positions']=df22['player_positions'].apply(lambda x: lista_posicion(x))

In [6]:
#defino listas para agrupar posiciones por 4 categorias
pos_defensas=['LCB','RCB','CB','RB','LB','RWB','LWB']
pos_medios=['LW','LCM','RCM','CAM','RW','LDM','CDM','CM','RDM','RM','RAM','LAM','LM']
pos_delanteros=['CF','ST','RS','LS','RF']

In [7]:
#agrupo posiciones en posiciones genéricas    
for i in df22.index:
            if len(df22.at[i,'player_positions'])==1:
                if df22.at[i,'player_positions'][0]=='GK':
                    df22.at[i,'player_positions']='portero'
                if df22.at[i,'player_positions'][0] in pos_defensas:
                    df22.at[i,'player_positions']='defensa'
                elif df22.at[i,'player_positions'][0] in pos_medios:
                    df22.at[i,'player_positions']='centrocampista'
                elif df22.at[i,'player_positions'][0] in pos_delanteros:
                    df22.at[i,'player_positions']='delantero'
            else:
                if df22.at[i,'player_positions'][0] in pos_defensas:
                    df22.at[i,'player_positions']='defensa'
                elif df22.at[i,'player_positions'][0] in pos_medios:
                    df22.at[i,'player_positions']='centrocampista'
                elif df22.at[i,'player_positions'][0] in pos_delanteros:
                    df22.at[i,'player_positions']='delantero'
                elif df22.at[i,'player_positions'][0]=='GK':
                    df22.at[i,'player_positions']='portero'

In [8]:
#filtramos dataset 
df22=df22[df22['player_positions']=='centrocampista']

In [9]:
#Agrupa por Equipo y año versión(temporada) y añade el total en cada jugador
df22['overall_team/year'] = df22.groupby('club_team_id')['overall'].transform('sum')

In [10]:
#Crea columna nº de equipos por liga/año
df22['teams_in_league/year'] = df22.groupby('league_name')['club_team_id'].transform('nunique')

In [11]:
#Crea columna media liga/año
df22['mean_league/year'] = df22.groupby('league_name')['overall'].transform('mean')

In [12]:
#Crea columna media equipo/año
df22['mean_team/year'] = df22.groupby('club_team_id')['overall'].transform('mean')

In [13]:
#df solo con las columnas a transformar
posiciones=df22[["ls","st","rs","lw","lf","cf","rf","rw", 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'ldm', 'cdm', 'rdm',
     'lwb', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb',"gk"]]

In [14]:
#funcion para limpiar valores
def limp_posiciones(x):
    x.replace("+"," ")
    return x.split(" ")[0]

In [15]:
#limpiar en df
for i in posiciones.columns:
    df22[i]=df22[i].astype(str)
    df22[i]=df22[i].apply(limp_posiciones)

In [16]:
df22['lf'] = df22['lf'].str.replace(r'\+', ' ', regex=True)
df22['cf'] = df22['cf'].str.replace(r'\+', ' ', regex=True)
df22['rf'] = df22['rf'].str.replace(r'\+', ' ', regex=True)
df22['lam'] = df22['lam'].str.replace(r'\+', ' ', regex=True)
df22['ram'] = df22['ram'].str.replace(r'\+', ' ', regex=True)
df22['lm'] = df22['lm'].str.replace(r'\+', ' ', regex=True)
df22['rm'] = df22['rm'].str.replace(r'\+', ' ', regex=True)
df22['cam'] = df22['cam'].str.replace(r'\+', ' ', regex=True)
df22['rs'] = df22['rs'].str.replace(r'\+', ' ', regex=True)

df22['lf'] = df22['lf'].str.replace(r'\-', ' ', regex=True)
df22['cf'] = df22['cf'].str.replace(r'\-', ' ', regex=True)
df22['rf'] = df22['rf'].str.replace(r'\-', ' ', regex=True)
df22['lam'] = df22['lam'].str.replace(r'\-', ' ', regex=True)
df22['ram'] = df22['ram'].str.replace(r'\-', ' ', regex=True)
df22['lm'] = df22['lm'].str.replace(r'\-', ' ', regex=True)
df22['rm'] = df22['rm'].str.replace(r'\-', ' ', regex=True)
df22['cam'] = df22['cam'].str.replace(r'\-', ' ', regex=True)
df22['rs'] = df22['rs'].str.replace(r'\-', ' ', regex=True)

In [17]:
#funcion para limpiar valores
def limp_posiciones(x):
    return x.split(" ")[0]

In [18]:
for i in ['lf','cf','rf','rs','lam','ram','cam','lm','rm']:
    df22[i]=df22[i].astype(str)
    df22[i]=df22[i].apply(limp_posiciones)

In [19]:
df22[['lf','cf','rf','rs','lam','ram','cam','lm','rm']]

       lf  cf  rf  rs lam ram cam  lm  rm
0      93  93  93  89  93  93  93  91  91
3      88  88  88  83  89  89  89  89  89
4      87  87  87  83  89  89  89  89  89
10     77  77  77  72  78  78  78  79  79
13     87  87  87  85  86  86  86  86  86
...    ..  ..  ..  ..  ..  ..  ..  ..  ..
19233  46  46  46  44  47  47  47  46  46
19234  45  45  45  44  46  46  46  47  47
19235  46  46  46  45  47  47  47  49  49
19236  46  46  46  45  47  47  47  48  48
19238  47  47  47  45  47  47  47  48  48

[7963 rows x 9 columns]

## Definir X

In [20]:
#Variables a usar (según notebook de modelo):
variables=['potential', 'value_eur', 'age', 'height_cm', 'weight_kg',
       'attacking_crossing', 'attacking_heading_accuracy', 'attacking_volleys',
       'skill_dribbling', 'skill_curve', 'skill_fk_accuracy',
       'skill_long_passing', 'movement_acceleration', 'movement_sprint_speed',
       'movement_agility', 'movement_reactions', 'movement_balance',
       'power_shot_power', 'power_jumping', 'power_stamina',
       'power_long_shots', 'mentality_aggression', 'mentality_interceptions',
       'mentality_positioning', 'mentality_vision', 'mentality_penalties',
       'mentality_composure', 'defending_marking_awareness',
       'defending_sliding_tackle', 'rs', 'overall_team/year',
       'teams_in_league/year', 'mean_league/year']

In [21]:
X22=df22[variables]

In [22]:
#llenar valor nulos de forma preventiva
X22.fillna(0,inplace=True)

C:\Users\carlo\anaconda3\lib\site-packages\pandas\core\frame.py:4462: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

## aplicar modelo

In [23]:
with open('../models/model_MD.pkl','rb') as f:
    super_modelo=pickle.load(f)

In [24]:
y_pred=super_modelo.predict(X22)

In [25]:
ind_list=X22[y_pred==1].index.to_list()

In [26]:
#top 5 centrocampistas con mayor proyección
df22[df22.index.isin(ind_list)].sort_values(by='overall', ascending=False).head()

,sofifa_id,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,...,lb,lcb,cb,rcb,rb,gk,overall_team/year,teams_in_league/year,mean_league/year,mean_team/year
17674,260979,J. Kisiel,Jakub Kisiel,centrocampista,56,75,350000.0,500.0,18,2003-02-05,...,54+2,55+2,55+2,55+2,54+2,15+2,658.0,18.0,63.179612,65.800000
18106,263895,K. Al Mahous,Khalid Eid Al Mahous,centrocampista,55,68,300000.0,2000.0,21,2000-01-06,...,53+2,54+2,54+2,54+2,53+2,16+2,788.0,16.0,63.299517,60.615385
18027,261473,K. Patten,Keenan Patten,centrocampista,55,68,300000.0,3000.0,20,2001-04-07,...,55+2,54+2,54+2,54+2,55+2,15+2,685.0,24.0,66.469925,62.272727
18248,256681,W. Lancaster,Will Lancaster,centrocampista,54,70,250000.0,2000.0,18,2002-08-03,...,51+2,53+2,53+2,53+2,51+2,16+2,377.0,24.0,66.469925,62.833333
18262,257953,F. Gerbowski,Fryderyk Gerbowski,centrocampista,54,69,250000.0,500.0,18,2003-01-17,...,53+2,53+2,53+2,53+2,53+2,15+2,807.0,18.0,63.179612,62.076923