In [28]:
import pickle
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [29]:
#importación dataset
df22=pd.read_csv('../data/players_22.csv')

C:\Users\carlo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (25,108) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Limpieza datos

In [30]:
#eliminamos columnas de url que no aportan información
df22 = df22[df22.columns.drop(df22.filter(regex='url').columns)]

In [31]:
#funcion transformación en lista
def lista_posicion(x):
    return (x.replace(' ','').split(','))

In [32]:
#transforma valores de columna player_positions en una lista
df22['player_positions']=df22['player_positions'].apply(lambda x: lista_posicion(x))

In [33]:
#defino listas para agrupar posiciones por 4 categorias
pos_defensas=['LCB','RCB','CB','RB','LB','RWB','LWB']
pos_medios=['LW','LCM','RCM','CAM','RW','LDM','CDM','CM','RDM','RM','RAM','LAM','LM']
pos_delanteros=['CF','ST','RS','LS','RF']

In [34]:
#agrupo posiciones en posiciones genéricas    
for i in df22.index:
            if len(df22.at[i,'player_positions'])==1:
                if df22.at[i,'player_positions'][0]=='GK':
                    df22.at[i,'player_positions']='portero'
                if df22.at[i,'player_positions'][0] in pos_defensas:
                    df22.at[i,'player_positions']='defensa'
                elif df22.at[i,'player_positions'][0] in pos_medios:
                    df22.at[i,'player_positions']='centrocampista'
                elif df22.at[i,'player_positions'][0] in pos_delanteros:
                    df22.at[i,'player_positions']='delantero'
            else:
                if df22.at[i,'player_positions'][0] in pos_defensas:
                    df22.at[i,'player_positions']='defensa'
                elif df22.at[i,'player_positions'][0] in pos_medios:
                    df22.at[i,'player_positions']='centrocampista'
                elif df22.at[i,'player_positions'][0] in pos_delanteros:
                    df22.at[i,'player_positions']='delantero'
                elif df22.at[i,'player_positions'][0]=='GK':
                    df22.at[i,'player_positions']='portero'

In [35]:
#Agrupa por Equipo y año versión(temporada) y añade el total en cada jugador
df22['overall_team/year'] = df22.groupby('club_team_id')['overall'].transform('sum')

In [36]:
#Crea columna nº de equipos por liga/año
df22['teams_in_league/year'] = df22.groupby('league_name')['club_team_id'].transform('nunique')

In [37]:
#Crea columna media liga/año
df22['mean_league/year'] = df22.groupby('league_name')['overall'].transform('mean')

In [38]:
#Crea columna media equipo/año
df22['mean_team/year'] = df22.groupby('club_team_id')['overall'].transform('mean')

In [39]:
#df solo con las columnas a transformar
posiciones=df22[["ls","st","rs","lw","lf","cf","rf","rw", 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'ldm', 'cdm', 'rdm',
     'lwb', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb',"gk"]]

In [40]:
#funcion para limpiar valores
def limp_posiciones(x):
    x.replace("+"," ")
    return x.split(" ")[0]

In [41]:
#limpiar en df
for i in posiciones.columns:
    df22[i]=df22[i].astype(str)
    df22[i]=df22[i].apply(limp_posiciones)

In [42]:
df22['lf'] = df22['lf'].str.replace(r'\+', ' ', regex=True)
df22['cf'] = df22['cf'].str.replace(r'\+', ' ', regex=True)
df22['rf'] = df22['rf'].str.replace(r'\+', ' ', regex=True)
df22['lam'] = df22['lam'].str.replace(r'\+', ' ', regex=True)
df22['ram'] = df22['ram'].str.replace(r'\+', ' ', regex=True)
df22['lm'] = df22['lm'].str.replace(r'\+', ' ', regex=True)
df22['rm'] = df22['rm'].str.replace(r'\+', ' ', regex=True)
df22['cam'] = df22['cam'].str.replace(r'\+', ' ', regex=True)
df22['rs'] = df22['rs'].str.replace(r'\+', ' ', regex=True)
df22['gk'] = df22['gk'].str.replace(r'\+', ' ', regex=True)

df22['lf'] = df22['lf'].str.replace(r'\-', ' ', regex=True)
df22['cf'] = df22['cf'].str.replace(r'\-', ' ', regex=True)
df22['rf'] = df22['rf'].str.replace(r'\-', ' ', regex=True)
df22['lam'] = df22['lam'].str.replace(r'\-', ' ', regex=True)
df22['ram'] = df22['ram'].str.replace(r'\-', ' ', regex=True)
df22['lm'] = df22['lm'].str.replace(r'\-', ' ', regex=True)
df22['rm'] = df22['rm'].str.replace(r'\-', ' ', regex=True)
df22['cam'] = df22['cam'].str.replace(r'\-', ' ', regex=True)
df22['gk'] = df22['gk'].str.replace(r'\-', ' ', regex=True)

In [43]:
#funcion para limpiar valores
def limp_posiciones(x):
    return x.split(" ")[0]

In [44]:
for i in ['lf','cf','rf','rs','lam','ram','cam','lm','rm','gk']:
    df22[i]=df22[i].astype(str)
    df22[i]=df22[i].apply(limp_posiciones)

In [45]:
df22[['lf','cf','rf','rs','lam','ram','cam','lm','rm','gk']]

       lf  cf  rf  rs lam ram cam  lm  rm  gk
0      93  93  93  89  93  93  93  91  91  19
1      88  88  88  90  86  86  86  84  84  19
2      89  89  89  90  86  86  86  86  86  20
3      88  88  88  83  89  89  89  89  89  20
4      87  87  87  83  89  89  89  89  89  21
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
19234  45  45  45  44  46  46  46  47  47  15
19235  46  46  46  45  47  47  47  49  49  14
19236  46  46  46  45  47  47  47  48  48  12
19237  47  47  47  47  45  45  45  45  45  15
19238  47  47  47  45  47  47  47  48  48  16

[19239 rows x 10 columns]

## Definir X

In [46]:
#Variables a usar (según notebook de modelo):
variables=['overall', 'potential', 'value_eur', 'wage_eur', 'age', 'height_cm',
       'weight_kg', 'pace', 'physic', 'attacking_crossing',
       'attacking_finishing', 'attacking_heading_accuracy',
       'attacking_short_passing', 'attacking_volleys', 'skill_dribbling',
       'skill_curve', 'skill_fk_accuracy', 'skill_long_passing',
       'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed',
       'movement_agility', 'movement_reactions', 'movement_balance',
       'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength',
       'power_long_shots', 'mentality_aggression', 'mentality_interceptions',
       'mentality_positioning', 'mentality_vision', 'mentality_penalties',
       'mentality_composure', 'defending_marking_awareness',
       'defending_standing_tackle', 'defending_sliding_tackle',
       'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking',
       'goalkeeping_positioning', 'goalkeeping_reflexes', 'gk',
       'overall_team/year', 'teams_in_league/year', 'mean_league/year',
       'mean_team/year']

In [47]:
X22=df22[variables]

In [48]:
#llenar valor nulos de forma preventiva
X22.fillna(0,inplace=True)

C:\Users\carlo\anaconda3\lib\site-packages\pandas\core\frame.py:4462: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [49]:
#transformar datos a numérico
X22['gk']=X22.gk.astype(int)

<ipython-input-49-01dbb10a3d63>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X22['gk']=X22.gk.astype(int)

## aplicar modelo

In [52]:
with open('../models/model_all.pkl','rb') as f:
    super_modelo=pickle.load(f)

In [53]:
super_modelo

RandomForestClassifier()

In [54]:
y_pred=super_modelo.predict(X22)

In [55]:
ind_list=X22[y_pred==1].index.to_list()

In [57]:
#top 5 porteros con mayor proyección
df22[df22.index.isin(ind_list)].sort_values(by='overall', ascending=False).head()

,sofifa_id,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,...,lb,lcb,cb,rcb,rb,gk,overall_team/year,teams_in_league/year,mean_league/year,mean_team/year
17993,259808,J. Moreno,Joiner Moreno Montero,defensa,55,65,250000.0,500.0,20,2000-08-02,...,52+2,55+2,55+2,55+2,52+2,16,1290.0,8.0,64.099476,64.500000
18034,261684,G. Machado,Gustavo Ezequiel Machado Ferrando,centrocampista,55,68,300000.0,500.0,20,2001-06-23,...,54+2,53+2,53+2,53+2,54+2,14,1205.0,6.0,63.439394,60.250000
18174,243517,C. Logan,Cameron Logan,defensa,54,72,275000.0,600.0,19,2002-01-28,...,52+2,50+2,50+2,50+2,52+2,15,1603.0,12.0,64.225000,64.120000
18302,260269,M. Monzeglio,Manuel Monzeglio Velázquez,centrocampista,54,67,250000.0,500.0,19,2001-09-25,...,38+2,31+2,31+2,31+2,38+2,12,1491.0,6.0,63.439394,67.772727
18479,251875,R. Ispas,Rareș Ispas,defensa,53,66,220000.0,2000.0,20,2000-08-26,...,51+2,48+2,48+2,48+2,51+2,14,1765.0,16.0,62.628959,63.035714